body {
	padding: 15px;
}
#gameGrid {
	border: black solid thick;
	padding: 10px 10px;
}

	#gameGrid td button {
		text-align: center;
		background: url(Images/fackingDown.png) 5%
	}

.boom {
	background-color: red;
}



	.facingDown:hover {
		background-color: lightgray;
	}

.facingUp {
	background-color: lightgray;
}

.flagged {
	background-color: darkgrey;
}
